@import '@/styles/variables.module.scss';
.header-logo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: $sideBarWidth;
  height: 100%;
  padding: 0 16px;
  .sidebar-logo {
    width: 26px;
    height: 26px;
    margin: 12px 0;
    vertical-align: middle;
  }
  .sidebar-title {
    display: inline-block;
    flex: 1;
    padding-left: 12px;
    margin: 0;
    overflow: hidden;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}